{% extends "/patient/layout.html" %}

{% macro render_field(field) %}
<tr>
    <td style="text-align: right; padding-right: 1em;">
        {{ field.label }}
    </td>
    <td>
        {{ field }}
        {% if field.errors %}
            <br>
            <span style="color: red;">{{ field.errors[0] }}</span>
        {% endif %}
    </td>
</tr>
{% endmacro %}


{% block body %}

{% import 'macros/forms.html' as forms %}

<div class="section">
    <fieldset>
        <legend>Patient Info</legend>
        <form action="{{ url_for('patient.register') }}" method="post">
        {{ form.csrf_token }}
        <table>
            {{ forms.render_field(form.first_name) }}
            {{ forms.render_field(form.last_name) }}
            {{ forms.render_field(form.dob) }}
            <tr>
            <td colspan="2" style="text-align: center;">
            {{ form.submit }}
            </td>
            </tr>
        </table>
        <br>
        </form>
    </fieldset>
</div>


{% endblock %}
