{% extends "/patient/layout.html" %}

{% block body %}

<div class="section"></div>
    <fieldset>
        <legend>Patient Details</legend>
        <table>
            <tr>
                <td>ID:</td>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td>{{ patient.first_name }}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>{{ patient.last_name }}</td>
            </tr>
            <tr>
                <td>DOB:</td>
                <td>{{ patient.dob }}</td>
            </tr>
        </table>
    </fieldset>
</div>

<div class="section">
    <fieldset>
    <legend>Encounters</legend>
    {% if patient.encounters %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>PC</th>
                    <th>Diagnosis</th>
                    <th>Outcome</th>
                </tr>
            </thead>
            <tbody>
            {% for encounter in patient.encounters %}
                <tr>
                    <td>{{ encounter.id }}</td>
                    <td>{{ encounter.created_at }}</td>
                    <td>{{ encounter.pc }}</td>
                    <td>{{ encounter.diagnosis_1 }}</td>
                    <td>{{ encounter.outcome }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No encounters found for this patient.</p>
    {% endif %}
    </fieldset>
</div>

<div class="section">
    <fieldset>
    <legend>Notes</legend>
        <form action="{{ url_for('note.new', patient_id=patient.id) }}" method="post">
            <button type="submit">New Note</button>
        </form> 
        <table>
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Author</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                {% for note in patient.notes %}
                <tr>
                    <td>{{ note.created_at }}</td>
                    <td>{{ note.author_id }}</td>
                    <td>{{ note.note }}</td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <p>No notes found for this patient.</p>
        {% endfor %}
    </fieldset>
</div>
{% endblock %}
