{% extends "/main/layout.html" %}

{% block body %}
    
    <form action="{{ url_for('patient.register') }}" method="get">
        <button type="submit">Register Patient</button>
    </form>

    <form action="{{ url_for('encounter.new') }}" method="get">
        <button type="submit">Record Encounter</button>
    </form>

    <form action="{{ url_for('patient.list') }}" method="get">
        <button type="submit">Patients</button>
    </form>

    <form action="{{ url_for('encounter.list') }}" method="get">
        <button type="submit">Encounters</button>
    </form>

    <form action="{{ url_for('auth.logout') }}" method="get">
        <button type="submit">Log Out</button>
    </form>

{% endblock %}
