{% extends "/main/layout.html" %}

{% block body %}

<form action="{{ url_for('note.new', patient_id=patient.id) }}" method="post">
    {{ form.hidden_tag() }} 

    <div class="section">
        <fieldset>
            <legend>Patient Details</legend>
            <table>
                <tr>
                    <td>Patient ID:</td>
                    <td>{{ patient.id }}</td>
                </tr>
                <tr>
                    <td>First Name:</td>
                    <td>{{ patient.first_name }}</td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td>{{ patient.last_name }}</td>
                </tr>
                <tr>
                    <td>DOB:</td>
                    <td>{{ patient.dob }}</td>
                </tr>
            </table>
        </fieldset>
    </div>

    <div class="section">
        <fieldset>
            <legend>Note</legend>
            {{ form.note.label }} 
            {{ form.note }}
        </fieldset>
    </div>

    <div class="section">
        <fieldset>
            <legend>Author</legend>
            <table>
                <tr>
                    <td>User ID:</td>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <td>First Name:</td>
                    <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td>{{ user.last_name }}</td>
                </tr>
            </table>
        </fieldset>
    </div>

    <div class="section" style="margin-top: 1em;">
        {{ form.submit() }}
    </div>
</form>


{% endblock %}
